.div-form{
    background-color: #fff;
    height: 210px;
    margin-left: 35%;
    width: 400px;
    border-radius: 3px;
}

.titleRegister{
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}